@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
:root {
  --Primary: #fed049;
  --Secondary: #007580;
  --Red: #e01b24;
  --Grey: #fafafa;
  --Black: #000000;
  --headline_1:60px;
  --headline_2:50px;
  --headline_3:41.89px;
  --headline_4:22px;
  --paragraph:60px;
  --btn_primary:#fed049;
  --btn_hover:#e7bc3c;
  --btn_disabled:#dbdbdb;
  --btn_reject:#e01b24;
  --list_color:#86bdc3;
  --list_color_hover:#469ba3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Open Sans", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}